.navigation-link {
  color: $gray-lightest;
  display: block;
  padding: .5em 1em;
  &:focus,
  &:hover {
    background-color: $gray-darkest;
  }
  &.active {
    color: #fff;
    font-weight: bold;
  }
}
